@model List<RealEstate_Dapper_UI.Dtos.ProductImageDtos.ResultProductImageByProductIdDto>
<div class="single-post-image mb-5">
    <div class="owl-blog owl-carousel owl-theme">
        @foreach(var data in Model)
        {
            <div class="item">
                <div class="card">
                    <img src="@data.ImageUrl" style="height:500px" class="img-fluid radius-image" alt="image">
                </div>
            </div>
        }   
    </div>
</div>